<header class="bg-dark py-1">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-left text-white">
            <h1 class="display-4 fw-bolder mb-3">User Details</h1>
        </div>
        <p class="mb-0 text-warning">Please select the <strong>user</strong> you want to continue.</p>
    </div>
</header>